DB_MYSQL_HOST=
DB_MYSQL_PORT=
DB_MYSQL_NAME=
DB_MYSQL_USER=
DB_MYSQL_PASS=

RATE_LIMIT_ENABLED=
RATE_LIMIT_REQUESTS_PER_SECOND=

APP_SECRET=
CORS_ALLOWED_ORIGINS=
API_DEFAULT_VERSION=1
API_SUPPORTED_VERSIONS=1
SERVER_PORT=8080
