DB_MYSQL_HOST=
DB_MYSQL_PORT=
DB_MYSQL_NAME=
DB_MYSQL_USER=
DB_MYSQL_PASS=
DB_MYSQL_TYPE=
DB_MYSQL_CHARSET=

RATE_LIMIT_ENABLED=
RATE_LIMIT_REQUESTS_PER_SECOND=

APP_SECRET=

MAIL_HOST=
MAIL_PORT=587
MAIL_SMTP_AUTH=1
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS=
MAIL_FROM_NAME=
MAIL_SUBJECT=Notification
